@charset "utf-8";






/* Grid Container */
main { 
    display: grid;
    grid-template-areas:
        "topbar   topbar   topbar  "

        "navbar  content   ads     "
        
        "footer   footer   footer  ";
    
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 600px 70px;

    align-items: center;
    justify-items: center;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);

    background-color: #7FFFD4;
}

/* Grid Items */
header {grid-area: topbar;} 
aside  {grid-area: navbar; }
article{grid-area: content;}
footer {grid-area: footer;}
 
   

/* Nav bar Styles*/

   nav ul {
    list-style: none;
    list-style-image: none;
    }
    nav a {
    text-decoration: none;
    }

    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 28px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #2fc2bb;
    color: white;
  }

  header {
    padding-top: 5%;
  }

  /* Form Layout Styles */
form#survey { 
  display: flex; 
  flex-flow: row wrap; 
 }

form#survey > fieldset { 
  background-color: rgb(181, 212, 241); 
  border-radius: 20px; 
  flex: 1 1 300px; 
  font-size: 0.85em; 
  padding: 10px; 
  margin: 10px; 
 }   
 div.formRow { 
  display: flex; 
  flex-flow: row wrap; 
  margin: 7px 0px; 
 }

 div.formRow > * { 
  flex: 1 1 150px; 
 }
/* Legend Styles */

legend { 
  background-color: rgb(179, 20, 25); 
  color: white; 
  padding: 5px; 
 }

/* Text Area Styles */

textarea { 
  margin-top: 10px; 
  height: 50px; 
  width: 95%; 
 }

/* Spinner Styles */
div.formRow > input#dineSpin { 
  flex: 0 0 50px; 
 }


/* Form Button Styles */
div#buttons { 
  text-align: center; 
  width: 100%; 
 }

 input[type='submit'], input[type='reset'] { 
  font-size: 1.2em; 
  padding: 5px; 
  margin: 15px; 
 }   

/* Validation Styles */

input:focus, select:focus, textarea:focus { 
  background-color: rgb(220, 255, 220); 
 }


 input#name:focus:valid,  
 input#phone:focus:valid, 
 input#mail:focus:valid { 
  background: rgb(220, 255, 220) url(rb_valid.png) bottom 
 right/contain no-repeat; 
 }

 input#name:focus:invalid,  
input#phone:focus:invalid, 
input#mail:focus:invalid { 
background: rgb(255, 232, 233) url(rb_invalid.png) bottom 
right/contain no-repeat; 
}
